.App {
  text-align: center;
}

.input__group{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 24px;
}

.input__group:first-of-type{
  padding-top: 24px;
}

.input__group:last-of-type{
  padding-bottom: 24px;
}

.input__label{
}

.input__control{
  border: solid 1px #A4A4A4;
  border-radius: .6em;
  display: flex;
  flex: 1;
  margin: .2em;
  outline: none;
  padding: .6em 1.2em;
  transition: all ease-in .15s;
}

.input__control:focus{
  filter: drop-shadow(0 0 4px rgba(65, 80, 234, .6));
  transition: all ease-in .15s;
}